{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="my__circle1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="my__circle2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="my__circle3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="my__circle6"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="my__circle8"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="my__circle10"></div>
            </div>
        </div>
    </div>
    <!--
    <div class="my__bubble">
        <ul class="my__bubble__ul">
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
        </ul>
    </div>
    -->
    <div class="container">
        <row class="row">
            <section class="my-card col-md-6">
                <div class="my-card__container my-bd-container">
                    <div class="my-card__glass">
                        <div class="my-card__data">
                            <h2 class="my-card__title">Salut ! Moi c'est 
                                <span class="my-card__name">ABOUAR PROSPER</span>
                            </h2>
                            <p class="my-card__text">
                                Actuellement en master 1 a l'Université de Yaoundé 1,
                                <br>Developpeur d'applications mobile et web.
                            </p>
                        </div>
                        <div class="my-card_social">
                            <a href="https://twitter.com/4kprosZ" target="_blank" rel="noopener noreferrer" class="my-card__link">
                                <i class='bx bxl-twitter bx-flashing'></i>
                            </a>
                            <a href="https://www.linkedin.com/in/prosper-abouar-408089134/" target="_blank" rel="noopener noreferrer" class="my-card__link">
                                <i class='bx bxl-linkedin-square bx-tada' ></i>
                            </a>
                        </div>
                        <p class="my-card__text">
                            <br><span class="my-card__name">Android mobile</span>
                            <br><span class="my-card__name">Web</span> 
                            <br><span class="my-card__name">UI/UX design</span>
                        </p>
                        <a href="#contact__row" class="my-card__button">Me contacter</a>
                    </div>
                </div>
            </section>
            <section class="home col-md-6 d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center my-home__img__container">
                    <img class="my-home__img" src="{% static 'medias/images/png/profile.png' %}" alt="">
                </div>
            </section>
        </row>
        <!--
        <row class="row" id="scroll__down__row">
            <section class="col-md-6">
                <a href="#services__row" class="my-home__scroll">
                    <h3 class="my-home__scroll-text">Mes services</h3>
                    <i class='bx bxs-down-arrow-alt bx-fade-down my-home__scroll-icon' ></i>
                </a>
            </section>
        </row>

        <row class="row" style="margin-top: 5rem;">
            <section class="col-md-12 d-flex justify-content-center align-items-center">
                <div class="my__wrapper__learning">
                    <div class="my__card__learning" style="--delay:-1">
                        <div class="my__content__learning">
                            <img src="{% static 'medias/images/png/learning/semanticweb.png' %}" alt="" class="my__img__learning">
                            <div class="my__text__content__learning">
                                <span class="my__name__learning">Web semantique</span>
                                <p class="my__desc__learning">En mode apprentissage</p>
                            </div>
                        </div>
                        <a href="#none" class="my__details__learning">Details</a>
                    </div>
                    <div class="my__card__learning" style="--delay:0">
                        <div class="my__content__learning">
                            <img src="{% static 'medias/images/png/learning/mapbox.png' %}" alt="" class="my__img__learning">
                            <div class="my__text__content__learning">
                                <span class="my__name__learning">Kotlin</span>
                                <p class="my__desc__learning">J'ameliore mon niveau sur l'utilisation de cet API</p>
                            </div>
                        </div>
                        <a href="#none" class="my__details__learning">Details</a>
                    </div>
                    <div class="my__card__learning" style="--delay:1">
                        <div class="my__content__learning">
                            <img src="{% static 'medias/images/png/learning/jenkins.png' %}" alt="" class="my__img__learning">
                            <div class="my__text__content__learning">
                                <span class="my__name__learning">Jenkins</span>
                                <p class="my__desc__learning">J'apprends le deploiement continu avec cet outil</p>
                            </div>
                        </div>
                        <a href="#none" class="my__details__learning">Details</a>
                    </div>
                    <div class="my__card__learning" style="--delay:2">
                        <div class="my__content__learning">
                            <img src="{% static 'medias/images/png/learning/django.png' %}" alt="" class="my__img__learning">
                            <div class="my__text__content__learning">
                                <span class="my__name__learning">Node js</span>
                                <p class="my__desc__learning">Je veux manipuler les donnees en temps reel</p>
                            </div>
                        </div>
                        <a href="#none" class="my__details__learning">Details</a>
                    </div>
                    <div class="my__card__learning" style="--delay:2">
                        <div class="my__content__learning">
                            <img src="{% static 'medias/images/png/learning/adobexd.png' %}" alt="" class="my__img__learning">
                            <div class="my__text__content__learning">
                                <span class="my__name__learning">React js</span>
                                <p class="my__desc__learning">Entrain d'ameliorer mon niveau dessus</p>
                            </div>
                        </div>
                        <a href="#none" class="my__details__learning">Details</a>
                    </div>
                </div>
            </section>
        </row>
        -->
        <row class="row" id="services__row" >
            <section class="my-section col-md-12">
                <div class="my-section__head">
                    <h2 class="my-section__title">
                        <span class="my-section__name">Services</span>
                    </h2>
                    <div class="my-section__line__render"></div>
                </div>
                <div class="my-section__container">
                    <div class="my-card__service__glass">
                        <p class="my-card__service__text">
                            <br>Ci-dessous, ce que je sais faire
                            <a href="#" class="my-card__service__link"></a>
                        </p>
                        <div class="row align-content-center">
                            <div class="my__service col-md-4">
                                <div class="my__card">
                                    <div class="my__content">
                                        <div class="my__background">
                                            <img src="{% static 'medias/images/png/android_logo.svg' %}" alt="" class="my__service_img">
                                            <h4 class="my__service__subtitle">#Android</h4>
                                        </div>
                                        <div class="my__bottom">
                                            <h3 class="my__service__title">
                                                Développement des applications Android natives
                                            </h3>
                                            <p class="my_service_text">
                                                Ceci en utilisant les meilleures pratiques recommandées par google.
                                            </p>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my__service col-md-4">
                                <div class="my__card">
                                    <div class="my__content">
                                        <div class="my__background">
                                            <img src="{% static 'medias/images/png/web_logo.svg' %}" alt="" class="my__service_img">
                                            <h4 class="my__service__subtitle">#Web</h4>
                                        </div>
                                        <div class="my__bottom">
                                            <h3 class="my__service__title">
                                                Développement des applications web complets
                                            </h3>
                                            <p class="my_service_text">
                                                Etant développeur web full-stack, je conçois des applications de l'analyse du problème jusqu'aux déploiements et maintenances.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my__service col-md-4">
                                <div class="my__card">
                                    <div class="my__content">
                                        <div class="my__background">
                                            <img src="{% static 'medias/images/png/ux_design.svg' %}" alt="" class="my__service_img">
                                            <h4 class="my__service__subtitle">#UI/UX</h4>
                                        </div>
                                        <div class="my__bottom">
                                            <h3 class="my__service__title">
                                                Design de l'expérience utilisateur et des maquettes
                                            </h3>
                                            <p class="my_service_text">
                                                Je produits des maquettes avec les interactions pour l'expérience utilisateur grâce aux outils tels que Figma, Adobe XD & Illustrator.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </row>
        
        <row class="row" id="portfolio__row">
            <section class="my-section col-md-12">
                <div class="my-section__head">
                    <h2 class="my-section__title">
                        <span class="my-section__name">Travaux</span>
                    </h2>
                    <div class="my-section__line__render"></div>
                </div>
                <div class="my-section__container">
                    <div class="my-card__protfolio__glass">
                        <div class="my__portfolio__wrapper">
                            <nav>
                                <div class="row">
                                    <div class="col-md-auto" style="margin-top: 2rem;">
                                        <a href="#mobile__worked" class="my__portfolio__item my__portfolio__item__active" data-name="mobile__worked">Applications mobiles</a>
                                    </div>
                                    <div class="col-md-auto" style="margin-top: 2rem;">
                                        <a href="#mobile__worked" class="my__portfolio__item" data-name="web__worked">Applications web</a>
                                    </div>
                                    <div class="col-md-auto" style="margin-top: 2rem;">
                                        <a href="#mobile__worked" class="my__portfolio__item" data-name="ui__worked">UI/UX design</a>
                                    </div>
                                </div>
                            </nav>
                            <div class="row" style="padding: 10px;">
                                {% include '../layouts/work_mobile.html' %}
                                {% include '../layouts/work_web.html' %}
                                {% include '../layouts/work_ui.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </row>
        
        <row class="row" id="about__row">
            <section class="my-section col-md-12">
                <div class="my-section__head">
                    <h2 class="my-section__title">
                        <span class="my-section__name">A propos</span>
                    </h2>
                    <div class="my-section__line__render"></div>
                </div>
                <div class="my-section__container">
                    <div class="my-card__about__glass">
                        <p class="my-card__about__text">
                            <br>Actuellement étudiant en Master 1, Je travaille sur les projets académiques et personnels pour étoffer mon portfolio.
                            <br>J'ai actuellement plus d'un an dans le développement mobile Android et web avec Django. Ce site par exemple a été réalise en utilisant le Framework Django.
                            <br>Mes applications se demarquent par une experience utilisateur amelioree et de tres bonnes performances.
                            <br>Mon intérêt non professionnel inclus le football, les voyages et un peu de lecture
                        </p>
                    </div>
                </div>
            </section>
        </row>

        <row class="row" id="contact__row" >
            <section class="my-section col-md-12">
                <div class="my-section__head">
                    <h2 class="my-section__title">
                        <span class="my-section__name">Contact</span>
                    </h2>
                    <div class="my-section__line__render"></div>
                </div>
                <div class="my-section__container">
                    <div class="my-card__contact__glass">
                        <form id="form__contact">
                            <div class="mb-3">
                              <input type="email" class="form__input__type form__input__user_name" aria-describedby="userNameHelp" placeholder=""><br>
                              <label for="form__input__user_name" class="form__label">Nom d'utilisateur</label>
                            </div>
                            <div class="mb-3">
                              <input type="email" class="form__input__type form__input__mail" aria-describedby="emailHelp" placeholder=""><br>
                              <label for="form__input__mail" class="form__label">Adresse mail</label>
                            </div>
                            <div class="mb-3">
                              <input type="email" class="form__input__type form__input__subject" aria-describedby="subjectHelp" placeholder=""><br>
                              <label for="form__input__subject" class="form__label">Sujet</label>
                            </div>
                            <div class="mb-3">
                              <textarea form="form__contact" class="form__input__message" placeholder=""></textarea><br>
                              <label for="form__input__message" class="form__label">Message</label>
                            </div>
                            <a type="submit" href="#" class="my-card__button">Envoyer</a>
                          </form>
                    </div>
                </div>
            </section>
        </row>
    </div>
{% endblock %}
