{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="my__circle1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="my__circle2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="my__circle3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="my__circle6"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="my__circle8"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="my__circle10"></div>
            </div>
        </div>
    </div>
    
    <div class="my__bubble">
        <ul class="my__bubble__ul">
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
            <li class="my__bubble__li"></li>
        </ul>
    </div>
    
    <div class="container">
        <row class="row">
            <section class="my-card col-md-6">
                <div class="my-card__container my-bd-container">
                    <div class="my-card__glass">
                        <div class="my-card__data">
                            <h2 class="my-card__title">Salut ! Moi c'est 
                                <span class="my-card__name">ABOUAR PROSPER</span>
                            </h2>
                            <p class="my-card__text">
                                Developpeur d'applications mobile android et web full-stack,
                                je suis actuellement en master 1 a l'Université de Yaoundé 1.
                                <br>
                                <br>+237 693264668
                                <br><a href="mailto: prosper.abouar@gmail.com" class="my-card__service__link">
                                    prosper.abouar@gmail.com
                                </a>
                            </p>
                        </div>
                        <div class="my-card_social">
                            <a href="https://twitter.com/4kprosZ" target="_blank" rel="noopener noreferrer" class="my-card__link">
                                <i class='bx bxl-twitter bx-flashing'></i>
                            </a>
                            <a href="https://www.linkedin.com/in/prosper-abouar-408089134/" target="_blank" rel="noopener noreferrer" class="my-card__link">
                                <i class='bx bxl-linkedin-square bx-tada' ></i>
                            </a>
                        </div>
                        <a href="#contact__row" class="my-card__button">Me contacter</a>
                    </div>
                </div>
            </section>
            <section class="home col-md-6 d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center my-home__img__container">
                    <img class="my-home__img" src="{% static 'medias/images/png/profile.png' %}" alt="">
                </div>
            </section>
        </row>
        
        <row class="row" id="scroll__down__row">
            <section class="col-md-6">
                <a href="#services__row" class="my-home__scroll">
                    <h3 class="my-home__scroll-text">Mes services</h3>
                    <i class='bx bxs-down-arrow-alt bx-fade-down my-home__scroll-icon' ></i>
                </a>
            </section>
        </row>
        
        <row class="row" style="margin-top: 5rem;">
            <section class="col-md-12 d-flex justify-content-center align-items-center">
                <div class="my__wrapper__learning">
                    <div class="my__card__learning" style="--delay:-1">
                        <div class="my__content__learning">
                            <img src="{% static 'medias/images/svg/learning/web.svg' %}" alt="" class="my__img__learning">
                            <div class="my__text__content__learning">
                                <span class="my__name__learning">Web semantique</span>
                                <p class="my__desc__learning">Besoin de la recheche rapide et intelligente</p>
                            </div>
                        </div>
                    </div>
                    <div class="my__card__learning" style="--delay:0">
                        <div class="my__content__learning">
                            <img src="{% static 'medias/images/svg/learning/kotlin.svg' %}" alt="" class="my__img__learning">
                            <div class="my__text__content__learning">
                                <span class="my__name__learning">Kotlin</span>
                                <p class="my__desc__learning">Il est temps pour moi de migrer vers kotlin</p>
                            </div>
                        </div>
                    </div>
                    <div class="my__card__learning" style="--delay:1">
                        <div class="my__content__learning">
                            <img src="{% static 'medias/images/svg/learning/jenkins.svg' %}" alt="" class="my__img__learning">
                            <div class="my__text__content__learning">
                                <span class="my__name__learning">Jenkins</span>
                                <p class="my__desc__learning">J'apprends le deploiement continu avec cet outil</p>
                            </div>
                        </div>
                    </div>
                    <div class="my__card__learning" style="--delay:2">
                        <div class="my__content__learning">
                            <img src="{% static 'medias/images/svg/learning/nodejs.svg' %}" alt="" class="my__img__learning">
                            <div class="my__text__content__learning">
                                <span class="my__name__learning">Node js</span>
                                <p class="my__desc__learning">Entrain d'apprendre ce mangnifique outil</p>
                            </div>
                        </div>
                    </div>
                    <div class="my__card__learning" style="--delay:2">
                        <div class="my__content__learning">
                            <img src="{% static 'medias/images/svg/learning/reactjs.svg' %}" alt="" class="my__img__learning">
                            <div class="my__text__content__learning">
                                <span class="my__name__learning">React js</span>
                                <p class="my__desc__learning">Entrain de suivre une formation pour devenir expert</p>
                            </div>
                        </div>                    
                    </div>
                </div>
            </section>
        </row>
        
        <row class="row" id="services__row" >
            <section class="my-section col-md-12">
                <div class="my-section__head">
                    <h2 class="my-section__title">
                        <span class="my-section__name">Services</span>
                    </h2>
                    <div class="my-section__line__render"></div>
                </div>
                <div class="my-section__container">
                    <div class="my-card__service__glass">
                        <p class="my-card__service__text">
                            <br>Ci-dessous, ce que je sais faire
                            <a href="#" class="my-card__service__link"></a>
                        </p>
                        <div class="row align-content-center">
                            <div class="my__service col-md-4">
                                <div class="my__card">
                                    <div class="my__content">
                                        <div class="my__background">
                                            <img src="{% static 'medias/images/svg/android_logo.svg' %}" alt="" class="my__service_img">
                                            <h4 class="my__service__subtitle">#Android</h4>
                                        </div>
                                        <div class="my__bottom">
                                            <h3 class="my__service__title">
                                                Développement des applications Android natives en Java. Et egalement cross-platform avec Flutter.
                                            </h3>
                                            <p class="my_service_text">
                                                Ayant suivis les formations "Android developper fundamentals course v2" et "Android advanced courses" de Google, j'applique les meilleures pratiques recommandees par ce dernier.
                                            </p>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my__service col-md-4">
                                <div class="my__card">
                                    <div class="my__content">
                                        <div class="my__background">
                                            <img src="{% static 'medias/images/svg/web_logo.svg' %}" alt="" class="my__service_img">
                                            <h4 class="my__service__subtitle">#Web</h4>
                                        </div>
                                        <div class="my__bottom">
                                            <h3 class="my__service__title">
                                                Développement des applications web complets.
                                            </h3>
                                            <p class="my_service_text">
                                                Etant développeur web full-stack, je conçois des applications en utilisant des outils tres avances pour une meilleure qualite de travail.
                                                Nodejs, Reactjs et Django sont ceux que j'utilise les plus. J'ai egalement de tres bonnes connaissances en PHP.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my__service col-md-4">
                                <div class="my__card">
                                    <div class="my__content">
                                        <div class="my__background">
                                            <img src="{% static 'medias/images/svg/ux_design.svg' %}" alt="" class="my__service_img">
                                            <h4 class="my__service__subtitle">#UI/UX</h4>
                                        </div>
                                        <div class="my__bottom">
                                            <h3 class="my__service__title">
                                                Design de l'expérience utilisateur et des maquettes.
                                            </h3>
                                            <p class="my_service_text">
                                                Je produits des maquettes interactives grâce aux outils tels que Figma, Adobe XD & Illustrator. Je 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </row>
        
        <row class="row" id="portfolio__row">
            <section class="my-section col-md-12">
                <div class="my-section__head">
                    <h2 class="my-section__title">
                        <span class="my-section__name">Travaux</span>
                    </h2>
                    <div class="my-section__line__render"></div>
                </div>
                <div class="my-section__container">
                    <div class="my-card__protfolio__glass">
                        <div class="my__portfolio__wrapper">
                            <nav>
                                <div class="row">
                                    <div class="col-md-auto" style="margin-top: 2rem;">
                                        <a href="#mobile__worked" class="my__portfolio__item my__portfolio__item__active" data-name="mobile__worked">Applications mobiles</a>
                                    </div>
                                    <div class="col-md-auto" style="margin-top: 2rem;">
                                        <a href="#mobile__worked" class="my__portfolio__item" data-name="web__worked">Applications web</a>
                                    </div>
                                    <div class="col-md-auto" style="margin-top: 2rem;">
                                        <a href="#mobile__worked" class="my__portfolio__item" data-name="ui__worked">UI/UX design</a>
                                    </div>
                                </div>
                            </nav>
                            <div class="row" style="padding: 10px;">
                                {% include '../layouts/work_mobile.html' %}
                                {% include '../layouts/work_web.html' %}
                                {% include '../layouts/work_ui.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </row>
        
        <row class="row" id="about__row">
            <section class="my-section col-md-12">
                <div class="my-section__head">
                    <h2 class="my-section__title">
                        <span class="my-section__name">A propos</span>
                    </h2>
                    <div class="my-section__line__render"></div>
                </div>
                <div class="my-section__container">
                    <div class="my-card__about__glass">
                        <p class="my-card__about__text">
                            <br>Actuellement étudiant en Master 1, Je travaille sur les projets académiques et personnels pour étoffer mon CV.
                            <br>J'ai plus d'un an dans le développement mobile Android en Java et web en Django.
                            <br>Mes applications se demarquent par une experience utilisateur amelioree et de tres bonnes performances.
                            <br>Mon intérêt non professionnel inclus le football, les voyages et un peu de lecture
                        </p>
                    </div>
                </div>
            </section>
        </row>

        <row class="row" id="contact__row" >
            <section class="my-section col-md-12">
                <div class="my-section__head">
                    <h2 class="my-section__title">
                        <span class="my-section__name">Contact (pas encore fonctionnel !)</span>
                    </h2>
                    <div class="my-section__line__render"></div>
                </div>
                <div class="my-section__container">
                    <div class="my-card__contact__glass">
                        <form id="form__contact">
                            <div class="mb-3">
                              <input type="email" class="form__input__type form__input__user_name" aria-describedby="userNameHelp" placeholder=""><br>
                              <label for="form__input__user_name" class="form__label">Nom d'utilisateur</label>
                            </div>
                            <div class="mb-3">
                              <input type="email" class="form__input__type form__input__mail" aria-describedby="emailHelp" placeholder=""><br>
                              <label for="form__input__mail" class="form__label">Adresse mail</label>
                            </div>
                            <div class="mb-3">
                              <input type="email" class="form__input__type form__input__subject" aria-describedby="subjectHelp" placeholder=""><br>
                              <label for="form__input__subject" class="form__label">Sujet</label>
                            </div>
                            <div class="mb-3">
                              <textarea form="form__contact" class="form__input__message" placeholder=""></textarea><br>
                              <label for="form__input__message" class="form__label">Message</label>
                            </div>
                            <a type="submit" href="#" class="my-card__button">Envoyer</a>
                          </form>
                    </div>
                </div>
            </section>
        </row>
    </div>
{% endblock %}
