
<!-- footer -->
<footer style="padding-bottom: .8rem;">
    <div class="container-fluid">
        <div class="footer__container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="footer__link"><h4>Abouar Prosper</h4></a>
                    <p class="footer__personal__site">Site personnel</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="https://twitter.com/4kprosZ" target="_blank" rel="noopener noreferrer" class="footer__social-link" id="footer__social-twitter">
                        <i class='bx bxl-twitter' ></i>
                    </a>
                    <a href="https://www.linkedin.com/in/prosper-abouar-408089134/" target="_blank" rel="noopener noreferrer" class="footer__social-link" id="footer__social-github">
                        <i class='bx bxl-linkedin-square bx-tada' ></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br><br>
                    <p class="footer__text">
                        &copy; 2021 copyright tous droit reserves
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>