{% load static %}

<header>
	  <nav class="navbar sticky-top navbar-expand-lg navbar-light my__navbar__theme__change" id="home__row">
		<div class="container">
			<a class="navbar-brand" href="">
				<h3 class="my-nav__title grow_left__animation">PROSPER </h2>
				<h3 class="my-nav__title__last grow_left__animation">TECH.</h2>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 10%;">
				<ul class="navbar-nav" style="text-align: center;" >
					<li class="nav-item">
						<a class="nav__link fade__top__animation" aria-current="page"  href="#home__row">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav__link fade__top__animation" id="my-nav-button"  href="#services__row">Mes services</a>
					</li>
					<li class="nav-item">
						<a class="nav__link fade__top__animation" id="my-nav-button"  href="#portfolio__row">Mes travaux</a>
					</li>
					<li class="nav-item">
						<a class="nav__link fade__top__animation" id="my-nav-button"  href="#about__row">A propos</a>
					</li>
					<li class="nav-item">
						<a class="nav__link fade__top__animation" id="my-nav-button"  href="#contact__row">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav__link fade__top__animation" href="#none">
							<i class='bx bxs-moon' id="my__nav__theme__toggle"></i>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	  </nav>

</header>