{% load static %}

    <div class="col-md-3 my__work__card__container" data-name="game__worked">
        <div class="my__work__card">
            <div class="my__work__item">
                <img class="mx-auto d-block my__work_img__logo" src="{% static 'medias/images/png/work/game/one_pixel_icon.svg' %}" alt="">
            </div>
            <div class="my__work__desc">
                <h5 class="my__work__item__title">
                    Game devlog (No name)
                </h5>
                <p class="my__work__item__desc">
                    It's my personal game development. It's a pixel art medroidvania style with
                    huge focus on details. You can look more for pictures.
                    <br><br><a href="https://github.com/4kpros/Groupe5_INF4077" target="_blank" rel="noopener noreferrer" class="my-card__service__link">Site link</a>
                </p>
            </div>
            <div class="my__work__more">
                <div class="row">
                    <div class="col-md-6">
                        <p class="my__work__item__domain">
                            Personal
                            <span class="my__work__item__state"><br>
                                Work in progress
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6 my__work__item__look">
                        <a href="#metroidGameModal" class="my__work__item__look_text" data-name="look__game__devlog">Look more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>