{% load static %}

    <div class="col-md-3 my__work__card__container" data-name="mobile__worked">
       <div class="my__work__card">
            <div class="my__work__item">
                <img class="mx-auto d-block my__work_img__logo" src="{% static 'medias/images/png/work/mobile/fluid_music_icon.svg' %}" alt="">
            </div>
            <div class="my__work__desc">
                <h5 class="my__work__item__title">
                    Fluid Music
                </h5>
                <p class="my__work__item__desc">
                    Magnifique lecteur d’audio avec une expérience utilisateur améliorée. Il permet également d'ajouter les lyrics dans les fichiers et intégrant toutes les fonctionnalités standards d’un lecteur.
                </p>
            </div>
            <div class="my__work__more">
                <div class="row">
                    <div class="col-md-6">
                        <p class="my__work__item__domain">
                            Personnel
                            <span class="my__work__item__state"><br>
                                En cours de développement 
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6 my__work__item__look">
                        <a href="#covidAppModal" class="my__work__item__look_text" data-name="look__fluid__music__app">Voir plus</a>
                    </div>
                </div>
            </div>
       </div>
    </div>
    
    <div class="col-md-3 my__work__card__container" data-name="mobile__worked">
        <div class="my__work__card">
            <div class="my__work__item">
                <img class="mx-auto d-block my__work_img__logo" src="{% static 'medias/images/png/work/mobile/covid_app_icon.svg' %}" alt="">
            </div>
            <div class="my__work__desc">
                <h5 class="my__work__item__title">
                    CovidApp
                </h5>
                <p class="my__work__item__desc">
                    Ceci est un projet académique. Avec cette application, on traque en temps réel les cas de covid-19 grâce au temps réel que propose Firestore. Il existe également un salon d'échanges et une partie statistiques.
                    <br>
                </p>
            </div>
            <div class="my__work__more">
                <div class="row">
                    <div class="col-md-6">
                        <p class="my__work__item__domain">
                            Académique
                            <span class="my__work__item__state"><br>
                                Terminé
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6 my__work__item__look">
                        <a href="#covidAppModal" class="my__work__item__look_text"data-name="look__covid__app">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 my__work__card__container" data-name="mobile__worked">
        <div class="my__work__card">
            <div class="my__work__item">
                <img class="mx-auto d-block my__work_img__logo" src="{% static 'medias/images/png/work/mobile/fire_fighter_icon.svg' %}" alt="">
            </div>
            <div class="my__work__desc">
                <h5 class="my__work__item__title">
                    Firefighters
                </h5>
                <p class="my__work__item__desc">
                    L'application permet de suivre en temps réel les alertes d'incendies. Cette application permet également de se connecter à un kit Arduino par Bluetooth pour la localisation exacte.
                    <br>
                </p>
            </div>
            <div class="my__work__more">
                <div class="row">
                    <div class="col-md-6">
                        <p class="my__work__item__domain">
                            Académique
                            <span class="my__work__item__state"><br>
                                Terminé
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6 my__work__item__look">
                        <a href="#emergencyAppModal" class="my__work__item__look_text"data-name="look__fire__fighter__app">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>