{% load static %}

    <div class="col-md-3 my__work__card__container" data-name="web__worked">
       <div class="my__work__card">
            <div class="my__work__item">
                <img class="mx-auto d-block my__work_img__logo" src="{% static 'medias/images/png/work/web/covid_analytics_icon.svg' %}" alt="">
            </div>
            <div class="my__work__desc">
                <h5 class="my__work__item__title">
                    Covid Stats
                </h5>
                <p class="my__work__item__desc">
                    Cette application web permet de visualiser l'evolution du covid-19.
                    <br><br><a href="https://github.com/4kpros/Groupe5_INF4077" target="_blank" rel="noopener noreferrer" class="my-card__service__link">Lien Github</a>
                    <br><br><a href="https://github.com/4kpros/Groupe5_INF4077" target="_blank" rel="noopener noreferrer" class="my-card__service__link">Lien de l'application</a>
                </p>
            </div>
            <div class="my__work__more">
                <div class="row">
                    <div class="col-md-6">
                        <p class="my__work__item__domain">
                            Académique
                            <span class="my__work__item__state"><br>
                                Termine
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6 my__work__item__look">
                        <a href="#covidWebModal" class="my__work__item__look_text" data-name="look__covid__web">Voir plus</a>
                    </div>
                </div>
            </div>
       </div>
    </div>