
/*===== CARD TEXT =====*/
.my-card__protfolio__glass{
    position: relative;
    padding: 2rem;
    text-align: start;
    background: var(--card-glass-color);
    box-shadow: inset 1px 1px 1px var(--card-glass-stroke-color), inset -1px -1px 1px var(--card-glass-stroke-color);
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}
.my-card__portfolio__data{
    margin-bottom: 1.5rem;
}
.my-card__portfolio__title{
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: .25rem;
    font-weight: var(--normal-font-weight);
}
.my-card__portfolio__name{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: .25rem;
    font-weight: var(--normal-font-weight);
}
.my-card__portfolio__profession{
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: var(--normal-font-weight);
}
.my-card__portfolio__text{
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: var(--normal-font-weight);
}
.my-card__portfolio__social{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.my-card__portfolio__link{
    display: inline;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: var(--normal-font-weight);
}
.my-card__portfolio__link:hover{
    color: var(--first-color);
}
.my__portfolio__wrapper{
}
.my__portfolio__wrapper nav{
    display: flex;
}
.my__portfolio__items{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.my__portfolio__item{
    padding: 7px 25px;
    font-size: 18px;
    color: var(--text-color);
    border: 1px solid var(--tab-glass-cover-stroke-color);
    border-radius: 50px;
    cursor: pointer;
    margin-right: .5rem;
    margin-bottom: 1rem;
    transform: all 0.3s ease;
    background: var(--tab-glass-cover-color);
    text-decoration: none;
    font-weight: var(--normal-font-weight);
}
.my__portfolio__item:hover{
    color: var(--first-color);
}
.my__work__mobile__item{
    margin-top: 2rem;
}
.my__portfolio__item__active{
    text-decoration: none;
    color: var(--text-color);
    background: linear-gradient(
        130deg, 
        rgba(255, 136, 0, .9),
        rgba(255, 136, 0, .6));
    border: 2px solid rgba(255, 136, 0, .9);
}
.my__portfolio__item__active:hover{
    color: var(--text-hint-color);
}
