

.my-card__about__glass{
    position: relative;
    padding: 2rem;
    text-align: start;
    background: var(--card-glass-color);
    box-shadow: inset 1px 1px 1px var(--card-glass-stroke-color), inset -1px -1px 1px var(--card-glass-stroke-color);
    border-radius: 1rem;
}
.my-card__about__data{
    margin-bottom: 1.5rem;
}
.my-card__about__title{
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: .25rem;
    font-weight: var(--normal-font-weight);
}
.my-card__about__name{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: .25rem;
    font-weight: var(--normal-font-weight);
}
.my-card__about__profession{
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: var(--normal-font-weight);
}
.my-card__about__text{
    
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: var(--normal-font-weight);
}
.my-card__about__social{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.my-card__about__link{
    display: inline;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: var(--normal-font-weight);
}
.my-card__about__link:hover{
    color: var(--first-color);
}
